<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:vbox id = "<%- extension_name %>"
      skinset = "revisions"
      class   = "revisionsHolder"
      anchors = "0 0 0 0">
        <a:hbox height = "20" class="topbar" margin="0 0 -1 0">
            <span>My Sidepanel</span>
        </a:hbox>
        <a:textarea  
          width      = "300"
          height     = "100" 
          value      = "Letterpress artisan pop-up pour-over fingerstache. Vegan blog salvia, echo park DIY small batch +1 marfa four loko artisan single-origin coffee quinoa pour-over bushwick wayfarers. Wes anderson thundercats brooklyn selvage photo booth, tofu polaroid four loko terry richardson semiotics craft beer. Fingerstache vice carles, pinterest sriracha vinyl fanny pack lo-fi. Single-origin coffee umami fanny pack, photo booth four loko lo-fi helvetica forage sustainable. Stumptown forage keffiyeh, shoreditch freegan tofu +1 banksy selvage. Narwhal shoreditch synth, iphone vegan wolf master cleanse farm-to-table art party photo booth vinyl DIY mixtape semiotics."/>
        <a:hbox edge="3 2 3 4" class="show-details">
            <a:button
                caption   = "Got it!" />
        </a:hbox>
    </a:vbox>
</a:application>